@import 'core/settings';
@import 'core/links';

body {
	background: url('../images/Cat-rolling-GettyImages-165893132-58ac5ef05f9b58a3c90a144f.jpg') center center no-repeat red;
  background-size:cover;
	margin: 0;
	height: 100vh;
}
